.nav-custom-link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    padding: 5px 0;
}

.nav-custom-link:hover {
    color: #9DFF2F;
}

.active-neon {
    color: #9DFF2F !important;
    text-shadow: 0 0 10px rgba(157, 255, 47, 0.5);
}

.active-neon::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #9DFF2F;
    box-shadow: 0 0 15px #9DFF2F;
    border-radius: 10px;
}

.text-primary-neon {
    color: #9DFF2F;
}